<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8">
     <title>Login Agenda</title> 
    </head>
    <body>
        <h1>Login</h1>   
        <form action="submit" method="post">{% csrf_token %}
            <div align="center">
                <label>USUÁRIO:</label>
                <input type="text" name="username">
                <label >PASSWORD:</label>
                <input type="password" name="password">
                <button type="submit"> Entrar </button>
            </div>
        </form>

        {% for message in messages %}
            <div align="center">
                <strong>Erro! </strong>{{message}}
            </div>    
        {% endfor %}
    </body>
</html>
